@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @*<p><button onclick="opensocket();">Open</button></p>*@
    <p><button onclick="send();">Send</button></p>

    <p><input id="wbinput" type="text"></p>
    <p>Answer:</p>
    <p id="answerbox"></p>
    <p>Status:</p>
    <p id="statusbox"></p>
    <p>Activity:</p>
    <p id="activtybox"></p>
    <script>
        var testsocket = new WebSocket("wss://localhost:44383/ws");

        testsocket.onopen = function () {
            document.getElementById("statusbox").innerHTML = "Socket is opened.";
        }

        testsocket.onclose = function () {
            document.getElementById("statusbox").innerHTML = "Socket is closed.";
        }

        testsocket.onerror = function (e) {
            document.getElementById("activtybox").innerHTML += "Error: " + JSON.stringify(e)+ "<br />";
        }

        testsocket.onmessage = function (e) {
            document.getElementById("activtybox").innerHTML += "Received: " + e.data + "<br />";
            document.getElementById("answerbox").innerHTML = e;
        }

        function opensocket() {

            //testsocket.open();
        }

        function send() {
            testsocket.send(document.getElementById("wbinput").value);
        }
    </script>
</div>
